.container
  .home
    %p
    .notice= notice
    %p
    - 5.times do 
      =image_tag('star-on.png')
    %br
    - 5.times do 
      =image_tag('star-on-ave.png')
    %br
    - 5.times do 
      =image_tag('star-off-ave.png')
    %br
    - 5.times do 
      =image_tag('star-off.png')
      
    %h1 Rater Joe
    %h3.main_text This is an application that will help consumers rate and review services and share the reviews and rates to social media sites. This will help other users read reviews and compare ratings. This will make services become transparent. 

    %h2 GO Rater Joe!
