/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=Maven+Pro);

body {
	background-image: url('geometry2.png');
	background-repeat:repeat;
}

body .container {
	text-align: center;
}

body .clear {
	text-align: center;
}

body footer {
	text-align: center;
}

body nav {
	text-align: center;
}
.review {
	border: none;
}

.container table {
	margin: auto;
}

.container input{
	width: 25%;
}
nav a {
	width: 100%;
	margin-right: 20px;
	color: #ff5e00;
}

footer a {
	width: 100%;
	margin: auto 70px;
	color: #ff5e00;
}
.container label {
	display: none;
}
h1, h2 {
 	color: #ff5e00;
}

.main_text {
	color: grey;
	font-size: 20px;
	padding: 20px 10%;
	font-family: 'Maven Pro', sans-serif;
	margin: auto;
}
.logo img{
	width: 10%;
}

.main_logo img {
	/*position: relative;
	top: -20px;
	left: -80px;*/
	width: 25%;
	margin-bottom: 0px;
}

.devise_navigation {
	text-align: right;
}

.clear_top {
	border: 1px solid #ff5e00;
	overflow: auto;
	width: 100%
}

.clear_bottom {
	margin-top: 30px;
	border: 1px solid #ff5e00;
	overflow: auto;
	width: 100%
}

li {
	list-style-type: none;
	display: inline-block;
}

.error, .alert {
	text-align: center;
	margin-top: 30px;
	color: #ff5e00;
	border-radius: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

.notice {
	color: #ff5e00;
}