.container_new
  %h1 Editing review

  = render 'form'

  = link_to 'Show', institution_review_path(@review.institution_id, @review.id)
  \|
  = link_to 'Back', institution_path(@review.institution_id)
